@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


/* NAVBAR */
header {
    z-index: 333;
    position: sticky;
    top: 0;
    background-color: #1C3879;
    height: 70px;
    width: 100%;
    /* width: 80%; */
}

nav {
    display: flex;
    height: 100%;
    width: 80%;
    font-size: 24px;
    justify-content: space-around;
    color: rgb(234, 192, 255);
    align-items: center;
    margin-inline: auto;
}

nav .logo {
    /* padding-left: 20vw; */
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-around;
}

nav ul li a {
    color: rgb(219, 219, 219);
    text-decoration: none;
    font-size: 0.8em;
    transition: 1s;
}

nav ul li a:hover {
    color: #fff;
}
/* END OF NAVBAR */


/* HOME */
div#rumah {
    position: relative;

    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    height: 120vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.822));
    
    color: white;
}

div#rumah::before {
    content:'';
    height: 120vh;
    width: 100%;
    z-index: -1;
    padding-bottom: 100px;
    position: absolute;
    background-image: url(img/demo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
div#rumah h1 {
    font-size: 80px;
    font-weight: 800;
}

div#rumah p {
    line-height: 0px;
    font-size: 20px;
    font-weight: 400;
}
/* END OF HOME */

/* .content {
    margin: auto;
} */

/* ABOUT */
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 25vh;
    background-color: lightblue;
}

#about h1 {
    position: relative;
    letter-spacing: 12px;
    font-size: 64px;
    padding-inline: 25px;
    z-index: 222;
    color: white;
    /* background-color: tomato; */
}

#about h1::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    border: #000 solid;
    background-color: black;
    z-index: -1;
}
.content .about{
    font-size: 20px;
    line-height: 40px;
    text-align: left;
}

.about {
    position: relative;
    /* background-color: lightblue; */
    width: 100%;
}

.about::after {
    content:'about';
    position: absolute;
    color: rgba(0,0,0,.1); 
    font-size: 200px;
    top:10rem;
    left:0;
}

.about p {
    margin-inline: 28rem;
    font-size: 24px;
}

/* END OF ABOUT */


/* EVENTS */
#events {
    display: flex;
    justify-content: center;
    color:rgb(51, 51, 51)
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 50vh;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(90deg,black, grey);;
}

.baris {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    width: auto;
    background-color: tomato;
}

h1 .angka {
    flex-grow: 1;
    border: white;
}

.container {
    height: auto;
	font-family: "Raleway", sans-serif;
	/* background: #2F3238; */
}

.container{
	margin: 30px;
}

.row{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image{
	/* background: #50A7FF; */
	position: relative;
	flex: 1;
	max-width: 450px;
	height: 300px;
	margin: 20px;
	overflow: hidden;
    border-radius: 20px 20px;
}

.image img{
    /* background-color: #000; */
	opacity: 0.8;
	position: relative;
	vertical-align: top;
	transition: 0.6s;
	transition-property: opacity;
}

.image:hover img{
	opacity: 1;
}

.image .details{
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	color: rgb(250, 250, 250);
    /* text-shadow: #000; */
	width: 100%;
	height: 100%;
}

.image .details h2{
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 70px;
	transition: 0.4s;
	transition-property: transform;
}

.image .details h2 span{
	font-weight: 900;
}

.image:hover .details h2{
	transform: translateY(-30px);
}

.image .details p{
	margin: 30px 30px 0 30px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
}

.image:hover .details p{
	opacity: 1;
	transform: translateY(-40px);
}

.more{
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	bottom: -280px;
	transition: 0.6s;
	transition-property: bottom;
}

.image:hover .more{
	bottom: 0;
}

.more .read-more{
	color: #000;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}

.more .read-more span{
	font-weight: 900;
}


/* Responsive CSS */

@media (max-width: 1080px){
    .container {
        height: auto;
    }
	.image{
		flex: 100%;
		/* max-width: 480px; */
	}
}
/* END OF EVENTS */


/* RESPONSIVE BREAKPOINT */
/* Ukuran Tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* Ukuran HP */
@media screen and (max-width: 576px) {
    body {
        width: 150%;
    }
    nav {
        display: flex;
        flex-direction: column;
        height: 65px;
    }
    nav ul {
        display: flex;
        width: 100%;
    }

    .image .details p{
		font-size: 16px;
	}

	.more .read-more, .more .icon-links a i{
		font-size: 18px;
	}
}
/* -RESPONSIVE BREAKPOINT- */